<% include ./partials/boilerplate %>
  <div class="container-inner">
  <h1>Welcome to my parking app.</h1>
  <button id="main-button"><a href="/parking">Get started</a></button>
  </div>
<% include ./partials/end %>
